@import url('https://fonts.googleapis.com/css?family=Poppins:300,400')
$main-font: Poppins, sans-serif
$white: #FFFFFF
$black: #000000
$red: #D0021B

html, body
    margin: 0
    padding: 0
    height: 100%

h1,h2, h3,h4,h5,h6,p
    font-family: $main-font
    font-weight: 300
    color: $white

.cta-button
    background-color: white
    height: 45px
    width: 120px
    display: flex
    align-items: center
    justify-content: center
    color: $black
    font-family: $main-font
    font-weight: 400px
    font-size: 20px
    text-transform: uppercase
    margin: 0 15px

#page
    #landing
        height: 100vh
        //overflow: hidden
        #background
            position: absolute
            height: 100%
            width: 100%
            object-fit: cover
            //object-position: 50% 0%
            text-align: center
            filter: brightness(50%)
            overflow: hidden
            z-index: -1
        h1, h2
            text-align: center
            margin: 0 auto
        h1
            padding-top: 25px
            font-size: 55px
        h2
            text-transform: uppercase
            font-size: 24px
            max-width: 100%
        #landing-action
            display: flex
            margin: 65% auto 25px
            justify-content: center
            #book
                color: white
                background-color: $red
            #listen
                color: $red
        p
            text-align: center
            font-size: 18px
        #chevron
            text-align: center
            img
                height: 40px
