@import url("https://fonts.googleapis.com/css?family=Poppins:200,300");
body {
  margin: 0;
  padding: 0;
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  font-family: Poppins, sans-serif;
  font-weight: 200;
  color: #FFFFFF; }

p {
  font-size: 16px; }

a {
  text-decoration: none; }

body {
  padding-bottom: 100px; }
  body .image-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: -1; }
  body .spread-image img {
    height: 350px;
    object-fit: cover;
    width: 100%; }
  body .left-aligned-image {
    object-position: left; }
  body #landing {
    overflow: auto; }
    body #landing #hero-img {
      position: absolute;
      height: 100vh;
      width: 100vw;
      z-index: -1; }
      body #landing #hero-img img {
        position: absolute;
        z-index: -1;
        object-position: 50% 50%;
        object-fit: cover;
        height: 100%;
        width: 100%; }
    body #landing #logo-container {
      z-index: 1;
      width: 100%;
      margin: 30px auto 0px;
      text-align: center; }
      body #landing #logo-container #logo {
        max-width: 80%; }
    body #landing #nav {
      margin: 30px auto 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #FFFFFF; }
      body #landing #nav .nav-item {
        margin: 15px auto;
        color: #FFFFFF;
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
        max-width: 30vw;
        cursor: pointer;
        padding: 3px 0px; }
      body #landing #nav #listen-cta {
        border: solid 1px #FFFFFF;
        padding: 3px 30px;
        color: #FFFFFF; }
        body #landing #nav #listen-cta:hover {
          background-color: #FFFFFF;
          border-color: #FFFFFF;
          color: #000000; }
  body #music-wrapper {
    margin: 200px auto 150px; }
    body #music-wrapper #music {
      color: #000000;
      background-color: #FFFFFF; }
      body #music-wrapper #music .section-text {
        text-align: center;
        color: #000000;
        margin-bottom: 40px; }
      body #music-wrapper #music #music-icon-container {
        display: flex;
        width: 100%;
        justify-content: center; }
        body #music-wrapper #music #music-icon-container a i {
          color: #000000;
          margin: 0 15px;
          font-size: 40px; }
  body #shows-wrapper {
    margin: 150px auto; }
    body #shows-wrapper #shows p {
      margin: 0 auto;
      max-width: 90%;
      color: #000000;
      text-align: center; }
    body #shows-wrapper #shows a #booking-cta {
      background-color: #000000;
      display: block;
      margin: 40px auto 20px;
      max-width: 80px;
      font-size: 20px;
      padding: 7px 15px; }
      body #shows-wrapper #shows a #booking-cta p {
        color: #FFFFFF;
        text-transform: uppercase; }
  body #about-wrapper {
    margin: 150px auto; }
    body #about-wrapper #about p {
      color: #000000;
      max-width: 90%;
      margin: 0 auto;
      text-align: center; }
  body #contact-wrapper {
    margin: 150px auto 150px; }
    body #contact-wrapper #contact {
      text-align: center; }
      body #contact-wrapper #contact p {
        color: #000000; }
        body #contact-wrapper #contact p a {
          text-decoration: underline;
          color: #000000; }
    body #contact-wrapper #social-media-container {
      margin-top: 45px;
      display: flex;
      justify-content: center; }
      body #contact-wrapper #social-media-container a i {
        color: #000000;
        margin: 0px 15px;
        font-size: 22px; }

@media screen and (min-width: 400px) {
  body #landing #logo-container #logo {
    margin-top: 40px; }
  body #landing #nav {
    margin: 60px auto; }
    body #landing #nav .nav-item {
      margin: 25px auto;
      font-size: 24px; } }
@media screen and (min-width: 750px) {
  body #landing #nav {
    margin: 100px auto; }
    body #landing #nav .nav-item {
      margin: 40px auto; } }
@media screen and (min-width: 1000px) {
  body #landing #logo-container #logo {
    max-width: 60%; }
  body #landing #nav {
    max-width: 70%;
    flex-direction: row;
    margin: 45vh auto 0px; }
    body #landing #nav .nav-item {
      margin: 40px auto;
      font-size: 20px; } }
@media screen and (min-width: 1400px) {
  body #landing #nav {
    margin-top: 50vh; } }

/*# sourceMappingURL=index.css.map */
