@import url('https://fonts.googleapis.com/css?family=Poppins:200,300')
$main-font: Poppins, sans-serif
$white: #FFFFFF
$black: #000000
$gold: gold

body
    margin: 0
    padding: 0
    height: 100%

h1,h2, h3,h4,h5,h6,p
    font-family: $main-font
    font-weight: 200
    color: $white

p
    font-size: 16px

a
    text-decoration: none

body
    .image-overlay
        position: absolute
        background-color: rgba(0, 0, 0, 0.7)
        height: 100%
        width: 100%
        z-index: -1

    .spread-image
        img
            height: 350px
            object-fit: cover
            width: 100%

    .left-aligned-image
        object-position: left

    #landing
        overflow: auto

        #hero-img
            position: absolute
            height: 100vh
            width: 100vw
            z-index: -1

            img
                position: absolute
                z-index: -1
                object-position: 50% 50%
                object-fit: cover
                height: 100%
                width: 100%

        #logo-container
            z-index: 1
            width: 100%
            margin: 30px auto 0px
            text-align: center

            #logo
                max-width: 80%

        #nav
            margin: 30px auto 50px
            display: flex
            flex-direction: column
            justify-content: center
            color: $white
            .nav-item
                margin: 15px auto
                color: $white
                text-align: center
                font-size: 22px
                text-transform: uppercase
                max-width: 30vw
                cursor: pointer
                padding: 3px 0px

            #listen-cta
                border: solid 1px $white
                padding: 3px 30px
                color: $white
                &:hover
                    background-color: $white
                    border-color: $white
                    color: $black
    #music-wrapper
        margin: 200px auto 150px
        #music
            color: $black
            background-color: $white

            .section-text
                text-align: center
                color: $black
                margin-bottom: 40px

            #music-icon-container
                display: flex
                width: 100%
                justify-content: center

                a
                    i
                        color: $black
                        margin: 0 15px
                        font-size: 40px

    #shows-wrapper
        margin: 150px auto
        #shows
            p
                margin: 0 auto
                max-width: 90%
                color: $black
                text-align: center

            a
                #booking-cta
                    background-color: $black
                    display: block
                    margin: 40px auto 20px
                    max-width: 80px
                    font-size: 20px
                    padding: 7px 15px

                    p
                        color: $white
                        text-transform: uppercase

    #about-wrapper
        margin: 150px auto
        #about
            p
                color: $black
                max-width: 90%
                margin: 0 auto
                text-align: center

    #contact-wrapper
        margin: 150px auto 150px
        #contact
            text-align: center

            p
                color: $black

                a
                    text-decoration: underline
                    color: $black

        #social-media-container
            margin-top: 45px
            display: flex
            justify-content: center

            a
                i
                    color: $black
                    margin: 0px 15px
                    font-size: 22px

@media screen and (min-width: 400px)
    body
        #landing
            #logo-container
                #logo
                    margin-top: 40px

            #nav
                margin: 60px auto

                .nav-item
                    margin: 25px auto
                    font-size: 24px

@media screen and (min-width: 750px)
    body
        #landing
            #nav
                margin: 100px auto

                .nav-item
                    margin: 40px auto

@media screen and (min-width: 1000px)
    body
        .spread-image
            img
                height: 400px

        #landing
            #logo-container
                #logo
                    max-width: 60%
            #nav
                max-width: 70%
                flex-direction: row
                margin: 45vh auto 0px

                .nav-item
                    margin: 40px auto
                    font-size: 20px

        #music-wrapper, #shows-wrapper, #about-wrapper, #contact-wrapper
            margin: 300px auto

        #music-wrapper
            margin-top: 350px
            #music
                br
                    display: none

        #shows-wrapper
            #shows
                a
                    #booking-cta
                        border: solid 2p $black
                        &:hover
                            background-color: $white
                            border: solid 2px $black

                            p
                                color: $black

        #about-wrapper
            #about
                p
                    max-width: 60%

        #contact-wrapper
            #contact
                #social-media-container
                    a
                        i
                            &:hover
                                color: #555

@media screen and (min-width: 1200px)
    body
        .spread-image
            img
                height: 500px

        #landing
            #nav
                margin-top: 50vh

@media screen and (min-width: 1500px)
    body
        .spread-image
            img
                height: 700px
